body,
html {
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  height: 100%;
  font-family: Courier, monospace !important;
  background: white !important;
}
a {
  color: inherit;
  text-decoration: underline;
}
.bg {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 0;
}
main {
  position: relative;
  z-index: 1;
}

.MuiContainer-root {
  max-width: 90% !important;
}
.MuiToolbar-root {
  padding: 0px !important;
}
section {
  padding: 100px 0px;
}
section.i,
pre {
  background: #1b1b1ce8 !important;
}
section#deal {
  background: #0f0f0fe8 !important;
}
section.i .MuiTypography-root {
  color: white !important;
}
.logo-text {
  font-size: 58px;
  vertical-align: bottom;
  line-height: 54px;
  font-weight: 400;
  font-family: Rockwell !important;
  margin-left: 3px;
}
.logo {
  display: inline-block;
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 65px;
  border-radius: 50%;
  font-family: Rockwell !important;
  font-weight: 800;
  font-size: 32px;
  display: inline-block;
  vertical-align: middle;
  border: 4px solid;
  /* background: rgba(255, 255, 255, 0.7); */
}
.logo span:nth-child(2) {
  position: relative;
  left: -6px;
}
.nav {
  padding: 20px 0px;
  transition: all ease 0.2s !important;
}
.nav .logo {
  transform: scale(0.7);
  opacity: 0;
}
.nav.scrolled .logo {
  opacity: 1;
}
.nav a {
  margin-left: 32px;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
}
.nav a:hover {
  text-decoration: underline;
}

.footer {
  padding: 40px 0px;
}
.footer svg {
  font-size: 40px;
  margin-left: 15px;
}
.lty-playbtn {
  background: #ffffff24 !important;
  border: 4px solid white !important;
  width: 70px !important;
  height: 70px !important;
  border-radius: 50% !important;
  opacity: 0 !important;
}
.yt-lite > .lty-playbtn:before {
  content: "";
  border-style: solid;
  border-width: 12px 0 12px 20px;
  border-color: transparent transparent transparent #fff !important;
}
.yt-lite::before {
  background: #00000080 !important;
  opacity: 0.5;
  height: 100% !important;
}
.yt-lite:hover::before {
  opacity: 0;
}
.yt-lite:hover .lty-playbtn {
  opacity: 1 !important;
}
.yt-lite.lyt-activated:hover .lty-playbtn {
  opacity: 0 !important;
}
