$sidebar-width: 250px;
$header-height: 92px;

$k-black: #fafafaee;

.App {
  margin: 0 0;
  font-size: large;
  height: 100vh;
  background: #fafafa00;

  .background-beeth {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: auto;
    z-index: -1;
    opacity: .5;
    //background-position: 200px 200px;
  }
}

.header {
  text-align: center;
  display: flex;
  align-items: center;
  height: $header-height;
}

.sidebar {
  position: fixed;
  height: 100vh;
  width: $sidebar-width;
  top: 0;
  left: 0;
  background: #fafafa88;

  .sidebar-content {
    display: flex;
    flex-direction: column;
    height: 80%;

    .App-logo {
      width: 150px;
      height: auto;
      margin: 1em auto;
    }

    .link {
      font-size: x-large;
      height: 12%;
      display: flex;
      align-items: center;
      margin: 0 auto 0 50px;
    }
  }
}

.content-container {
  max-width: 80vw;
  margin: 0 5vw 5vh $sidebar-width;
  min-height: 70vh;
  text-align: justify;
  padding: $header-height 2em 0 2em;
  //background: #fafafa22;

  h2 {
    margin-top: 2em;
  }

  h2:first-child {
    margin-top: 0;
  }

  .music-grid {
    .embed-player {
      //width: 50%;
      padding: 2rem 2rem 2rem 0;
    }
  }
}

.content-section {
  width: 100%;
  background: #25252555;
  color: #fafafaee;
  padding: 5px 50px;

}

.footer {
  margin: 0 0 0 $sidebar-width;
  padding: 0 2em;

  .icon-div {
    text-align: center;

    .icons a {
      padding: 20px 10px;
    }
  }
}
