$sidebar-width: 250px;
$header-height: 92px;

$k-white: #fafafa;
$k-black: #080808;
body {
  background-color: $k-black;
}

.main {
  height: max-content;

}

h1 {
  font-size: 5em;
}

a {
  color: #5aa9ce;
}

.stripe {
  padding: 1em 3em 1em 3em;
}

.description {
  width: 30%;
  margin: auto;
  font-size: 1.25em;

}

.ktonal {
  background-color: $k-white;
  color: $k-black;

  .header {
    display: flex;
    align-items: center;

    .what-the-k {
      display: inherit;
      align-items: inherit;
      margin: auto;
    }

    .k-logo {
      width: 200px;
      height: auto;
      margin: 20px;
    }

    .faq {
      p {
        padding-left: 2em;
        margin-top: 20px;
      }
    }
  }

  //.answer {
  //  max-width: 80%;
  //}
}

.music {
  background-color: $k-black;
  color: $k-white;
  display: flex;
  align-items: center;

  .intro {
    align-items: center;
    margin: 0;
  }

  .player {
    display: flex;
    align-items: center;
    width: 50%;

  }
}

.code {
  background-color: $k-white;
  color: $k-black;
  height: 25vh;
  display: flex;

  .header {
    display: flex;
    align-items: center;

    h1 {
      margin: auto 10px;
      text-align: center;
    }

    .code-img {
      width: 30%;
      opacity: .5;
      margin: 1%;
      padding: 1em;
    }
  }
}

svg {
  vertical-align: middle;
}

.footer {
  background-color: $k-black;
  color: #AAA;


  .motto {
    width: 100%;
    p {
      width: max-content;
      max-width: 100vw;
      margin: 1em auto;
      white-space: nowrap;
      overflow: hidden;
      letter-spacing: .5em;
    }
  }

  .icon-div {
    text-align: center;

    .icons a {
      padding: 20px;
    }
  }
}
